{% extends 'base1.html' %}
{% load custom_filters %}
{% load product_filters %}
{% load static %}

{% block title %}{{ product.name }} | VibeDrobe{% endblock %}

{% block css %}
<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'user/assets/css/plugins/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'user/assets/css/plugins/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">

<style>
  .swatch-list .swatch.active {
    border-color: #000;
    background-color: #f5f5f5;
}
</style>

{% endblock %}

{% block content %}
  <main>
    <section class="product-single product-single__type-6 container">
      <div class="row">
        <div class="col-lg-7">
          <div class="mb-md-1 pb-md-3"></div>
          <div class="product-single__media" data-media-type="list-image">
            <div class="product-single__image d-flex flex-column gap-2">
              <div class="product-single__image-item">
                {% if product.base_image %}
                <img loading="lazy" class="h-auto" src="{{ product.base_image.url }}" width="700" height="700" alt="{{ product.name }}">
                {% else %}
                <div class="no-image-placeholder">No image available</div>
                {% endif %}
              </div>
              {% for image in gallery_images %}
                    {% if not image.image_path|is_duplicate:product.base_image.url %}
              <div class="product-single__image-item">
                 
                <img loading="lazy" class="h-auto" src="{{ image.image_path.url }}" width="700" height="700" alt="{{ product.name }} - view {{ forloop.counter }}">
                
              </div>
              {% endif %}
                        {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="sticky-content">
            <div class="mb-md-1 pb-md-3"></div>
            <div class="d-flex justify-content-between mb-4 pb-md-2">
              <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
                <a href="{% url 'homepage' %}" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
                <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                <a href="{% url 'shop' %}" class="menu-link menu-link_us-s text-uppercase fw-medium">The Shop</a>
                <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                <a href="{% url 'shop' %}?brand={{ product.brand_id.id }}" class="menu-link menu-link_us-s text-uppercase fw-medium">{{ product.brand_id.name }}</a>
              </div><!-- /.breadcrumb -->  
              <div class="product-single__prev-next d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">
                <a href="#" class="text-uppercase fw-medium"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg><span class="menu-link menu-link_us-s">Prev</span></a>
                <a href="#" class="text-uppercase fw-medium"><span class="menu-link menu-link_us-s">Next</span><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg></a>
              </div><!-- /.shop-acs -->
            </div>
            <h1 class="product-single__name">{{ product.name }}</h1>
            <div class="product-single__rating">
              <div class="reviews-group d-flex">
                <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
              </div>
              <span class="reviews-note text-lowercase text-secondary ms-1">8k+ reviews</span>
            </div>
            <div class="product-single__price">
              <span class="current-price">₹{{ product.price }}</span>
            </div>
            <div class="product-single__short-desc">
              <p>{{ product.description|truncatechars:78}}</p>
            </div>
            <form name="addtocart-form" method="post" action="{% url 'add_to_cart' product.id %}" id="add-to-cart-form">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="hidden" name="variant_id" id="selected-variant" value="" required>
    <input type="hidden" name="keep_cart_open" value="1">
    <div class="product-single__swatches">
    <div class="product-swatch text-swatches">
    <label>Sizes</label>
    <div class="swatch-list">
        {% for variant in variants %}
        <input type="radio" name="size" id="swatch-{{ forloop.counter }}">
        <label class="swatch js-swatch {% if variant.stock_quantity <= 0 %}disabled{% endif %}"
               data-variant-id="{{ variant.id }}"
               data-price="{{ product.price|add:variant.additional_price }}" 
               data-sku="{{ variant.sku }}"                                        
               data-stock="{{ variant.stock_quantity }}"
               for="swatch-{{ forloop.counter }}" 
               aria-label="Size {{ variant.size_id.name }}{% if variant.stock_quantity <= 0 %} - out of stock{% endif %}" 
               data-bs-toggle="tooltip" 
               data-bs-placement="top" 
               title="{{ variant.size_id.name }}">
            {{ variant.size_id.name }}{% if variant.stock_quantity <= 0 %}<span class="size-out">(X)</span>{% endif %}
        </label>
        {% endfor %}
    </div>
    <a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>
</div>
                <div class="product-swatch color-swatches">
                  <label>Color</label>
                  <div class="swatch-list">
                   <h6 class="mb-1">{{ product.color }}</h6>
                  </div>
                </div>
              </div>
               <div class="product-single__addtocart">
         <div class="qty-control position-relative">
    <input type="number" name="quantity" value="1" min="1" 
           class="qty-control__number text-center">
    <div class="qty-control__reduce">-</div>
    <div class="qty-control__increase">+</div>
</div>
        <button type="submit" class="btn btn-primary btn-addtocart" {% if not in_stock %}disabled{% endif %}>
        {% if in_stock %}Add to Cart{% else %}Out of Stock{% endif %}
    </button>
    </div>
</form>
            <div class="product-single__addtolinks">
              <a href="{% url 'add_to_wishlist' product.id %}" class="menu-link menu-link_us-s add-to-wishlist" aria-label="{% if in_wishlist %}Remove from Wishlist{% else %}Add to Wishlist{% endif %}">
    <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <use href="#icon_heart" {% if in_wishlist %}fill="black"{% endif %}/>
    </svg>
    <span>{% if in_wishlist %}Remove from Wishlist{% else %}Add to Wishlist{% endif %}</span>
</a>
              <share-button class="share-button">
                <button class="menu-link menu-link_us-s to-share border-0 bg-transparent d-flex align-items-center">
                  <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_sharing" /></svg>
                  <span>Share</span>
                </button>
                <details id="Details-share-template__main" class="m-1 xl:m-1.5" hidden="">
                  <summary class="btn-solid m-1 xl:m-1.5 pt-3.5 pb-3 px-5">+</summary>
                  <div id="Article-share-template__main" class="share-button__fallback flex items-center absolute top-full left-0 w-full px-2 py-4 bg-container shadow-theme border-t z-10">
                    <div class="field grow mr-4">
                      <label class="field__label sr-only" for="url">Link</label>
                      <input type="text" class="field__input w-full" id="url" value="https://uomo-crystal.myshopify.com/blogs/news/go-to-wellness-tips-for-mental-health" placeholder="Link" onclick="this.select();" readonly="">
                    </div>
                    <button class="share-button__copy no-js-hidden">
                      <svg class="icon icon-clipboard inline-block mr-1" width="11" height="13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 11 13">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z" fill="currentColor"></path>
                      </svg>
                      <span class="sr-only">Copy link</span>
                    </button>
                  </div>
                </details>
              </share-button>
              <script src="{% static 'user/assets/js/details-disclosure.js' %}" defer></script>
              <script src="{% static 'user/assets/js/share.js' %}" defer></script>
            </div>
            <div class="product-single__meta-info">
              <div class="meta-item">
                <label>SKU:</label>
                <span class="sku-display">{{ variants.first.sku }}</span>
              </div>
              <div class="meta-item">
                <label>Categories:</label>
                <span><a href="{% url 'shop' %}?subcategory={{ product.subcategory_id.id }}">
                                    {{ product.subcategory_id.name }}
                                </a>
                            </span></span>
              </div>
              <div class="meta-item">
                <label>Tags:</label>
                <span>{% for tag in tags %}
                                <a href="{% url 'shop' %}?tag={{ tag.id }}" class="text-decoration-underline">
                                    {{ tag.tag }}{% if not forloop.last %}, {% endif %}
                                </a>
                                {% endfor %}</span>
              </div>
            </div>
            <div id="product_single_details_accordion" class="product-single__details-accordion accordion">
              <div class="accordion-item">
                <h5 class="accordion-header" id="accordion-heading-11">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1" aria-expanded="true" aria-controls="accordion-collapse-1">
                    Description
                    <svg class="accordion-button__icon" viewBox="0 0 14 14"><g aria-hidden="true" stroke="none" fill-rule="evenodd"><path class="svg-path-vertical" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path><path class="svg-path-horizontal" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path></g></svg>
                  </button>
                </h5>
                <div id="accordion-collapse-1" class="accordion-collapse collapse show" aria-labelledby="accordion-heading-11" data-bs-parent="#product_single_details_accordion">
                  <div class="accordion-body">
                    <div class="product-single__description">
                      <h3 class="block-title mb-4">{{ product.description|truncatechars:45 }}</h3>
                      <p class="content">{{ product.description|linebreaks }}</p>    
                    </div>
                  </div>
                </div>
              </div><!-- /.accordion-item -->

              <div class="accordion-item">
                <h5 class="accordion-header" id="accordion-heading-2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2" aria-expanded="false" aria-controls="accordion-collapse-2">
                    Additional Information
                    <svg class="accordion-button__icon" viewBox="0 0 14 14"><g aria-hidden="true" stroke="none" fill-rule="evenodd"><path class="svg-path-vertical" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path><path class="svg-path-horizontal" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path></g></svg>
                  </button>
                </h5>
                <div id="accordion-collapse-2" class="accordion-collapse collapse" aria-labelledby="accordion-heading-2" data-bs-parent="#product_single_details_accordion">
                  <div class="accordion-body">
                    <div class="product-single__addtional-info">
                      <div class="item">
                        <label class="h6">Weight</label>
                        <span>{{product.weight}} kg</span>
                      </div>
                      <div class="item">
                        <label class="h6">Dimensions</label>
                        <span>{{product.dimensions}}</span>
                      </div>
                      <div class="item">
                        <label class="h6">Size</label>
                        <span>{% for variant in variants %}
                                {{ variant.size_id.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</span>
                      </div>
                      <div class="item">
                        <label class="h6">Material</label>
                        <span>{{ product.material_id.name }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- /.accordion-item -->

              <div class="accordion-item">
                <h5 class="accordion-header" id="accordion-heading-3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3" aria-expanded="false" aria-controls="accordion-collapse-3">
                    Reviews (3)
                    <svg class="accordion-button__icon" viewBox="0 0 14 14"><g aria-hidden="true" stroke="none" fill-rule="evenodd"><path class="svg-path-vertical" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path><path class="svg-path-horizontal" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path></g></svg>
                  </button>
                </h5>
                <div id="accordion-collapse-3" class="accordion-collapse collapse" aria-labelledby="accordion-heading-3" data-bs-parent="#product_single_details_accordion">
                  <div class="accordion-body">
                    <h2 class="product-single__reviews-title">Reviews</h2>
                    <div class="product-single__reviews-list">
                      <div class="product-single__reviews-item">
                        <div class="customer-avatar">
                          <img loading="lazy" src="../images/avatar.jpg" alt="">
                        </div>
                        <div class="customer-review">
                          <div class="customer-name">
                            <h6>Janice Miller</h6>
                            <div class="reviews-group d-flex">
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                            </div>
                          </div>
                          <div class="review-date">April 06, 2023</div>
                          <div class="review-text">
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est…</p>
                          </div>
                        </div>
                      </div>
                      <div class="product-single__reviews-item">
                        <div class="customer-avatar">
                          <img loading="lazy" src="../images/avatar.jpg" alt="">
                        </div>
                        <div class="customer-review">
                          <div class="customer-name">
                            <h6>Benjam Porter</h6>
                            <div class="reviews-group d-flex">
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
                            </div>
                          </div>
                          <div class="review-date">April 06, 2023</div>
                          <div class="review-text">
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est…</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-single__review-form">
                      <form name="customer-review-form">
                        <h5>Be the first to review “Message Cotton T-Shirt”</h5>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <div class="select-star-rating">
                          <label>Your rating *</label>
                          <span class="star-rating">
                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z"/>
                            </svg>
                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z"/>
                            </svg>
                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z"/>
                            </svg>
                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z"/>
                            </svg>
                            <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z"/>
                            </svg>
                          </span>
                          <input type="hidden" id="form-input-rating" value="">
                        </div>
                        <div class="mb-4">
                          <textarea id="form-input-review" class="form-control form-control_gray" placeholder="Your Review" cols="30" rows="8"></textarea>
                        </div>
                        <div class="form-label-fixed mb-4">
                          <label for="form-input-name" class="form-label">Name *</label>
                          <input id="form-input-name" class="form-control form-control-md form-control_gray">
                        </div>
                        <div class="form-label-fixed mb-4">
                          <label for="form-input-email" class="form-label">Email address *</label>
                          <input id="form-input-email" class="form-control form-control-md form-control_gray">
                        </div>
                        <div class="form-check mb-4">
                          <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="remember_checkbox">
                          <label class="form-check-label" for="remember_checkbox">
                            Save my name, email, and website in this browser for the next time I comment.
                          </label>
                        </div>
                        <div class="form-action">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- /.accordion-item -->
            </div>
            <div class="product-single__additional-info">
              <a href="#" data-bs-toggle="modal" data-bs-target="#deliveryModal">Composition and Care</a>
              <a href="#" data-bs-toggle="modal" data-bs-target="#deliveryModal">In-Store Availability</a>
              <a href="#" data-bs-toggle="modal" data-bs-target="#deliveryModal">Delivery and Return</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% if recently_viewed_products %}
    <section class="products-carousel container">
      <h2 class="section-title text-uppercase text-center mb-4 pb-xl-2 mb-xl-4">Recently Viewed</h2>

      <div id="product_carousel" class="position-relative">
        <div class="swiper-container js-swiper-slider"
          data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 4,
            "slidesPerGroup": 4,
            "effect": "none",
            "loop": true,
            "pagination": {
              "el": "#product_carousel .products-pagination",
              "type": "bullets",
              "clickable": true
            },
            "navigation": {
              "nextEl": "#product_carousel .products-carousel__next",
              "prevEl": "#product_carousel .products-carousel__prev"
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 1,
                "spaceBetween": 30
              }
            }
          }'>
          <div class="swiper-wrapper">
             {% for product in recently_viewed_products %}
            <div class="swiper-slide product-card">
              <div class="pc__img-wrapper">
                <a href="{% url 'product_detail' product.id %}">
                  <img loading="lazy" src="{{ product.base_image.url }}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                </a>
                <button class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart">Add To Cart</button>
              </div>

              <div class="pc__info position-relative">
                <p class="pc__category">{{ product.brand_id.name }}</p>
                <h6 class="pc__title"><a href="{% url 'product_detail' product.id %}">{{ product.name|truncatechars:44 }}</a></h6>
                <div class="product-card__price d-flex">
                  <span class="money price">₹{{ product.price }}</span>
                </div>

                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                </button>
              </div>
            </div>
            {% endfor %}

          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper-container js-swiper-slider -->

        <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
        </div><!-- /.products-carousel__prev -->
        <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
        </div><!-- /.products-carousel__next -->

        <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
        <!-- /.products-pagination -->
      </div><!-- /.position-relative -->

    </section>
    {% endif %}

     {% if related_products %}
    <section class="products-carousel container">
      <h2 class="h3 text-uppercase mb-4 pb-xl-2 mb-xl-4">Related <strong>Products</strong></h2>

      <div id="related_products" class="position-relative">
        <div class="swiper-container js-swiper-slider"
          data-settings='{
            "autoplay": false,
            "slidesPerView": 4,
            "slidesPerGroup": 4,
            "effect": "none",
            "loop": true,
            "pagination": {
              "el": "#related_products .products-pagination",
              "type": "bullets",
              "clickable": true
            },
            "navigation": {
              "nextEl": "#related_products .products-carousel__next",
              "prevEl": "#related_products .products-carousel__prev"
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 4,
                "spaceBetween": 30
              }
            }
          }'>
          <div class="swiper-wrapper">
             {% for related_product in related_products %}
            <div class="swiper-slide product-card">
              <div class="pc__img-wrapper">
                <a href="{% url 'product_detail' related_product.id %}">
                  <img loading="lazy" src="{{ related_product.base_image.url }}" width="330" height="330" alt="{{ related_product.name }}" class="pc__img">
                </a>
                <button class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart">Add To Cart</button>
              </div>

              <div class="pc__info position-relative">
                <p class="pc__category">{{ related_product.brand_id.name }}</p>
                <h6 class="pc__title"><a href="{% url 'product_detail' related_product.id %}">{{ related_product.name|truncatechars:49 }}</a></h6>
                <div class="product-card__price d-flex">
                  <span class="money price">₹{{ related_product.price }}</span>
                </div>

                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                </button>
              </div>
            </div>
            {% endfor %}
            
          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper-container js-swiper-slider -->

        <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
        </div><!-- /.products-carousel__prev -->
        <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
        </div><!-- /.products-carousel__next -->

        <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
        <!-- /.products-pagination -->
      </div><!-- /.position-relative -->

    </section><!-- /.products-carousel container -->
    {% endif %}
</main>

  <div class="mb-5 pb-xl-5"></div>
  
  <!-- Footer Type 1 -->
  
  <!-- Go To Top -->
  <div id="scrollTop" class="visually-hidden end-0"></div>

  <!-- Sizeguide -->
  <div class="modal fade" id="sizeGuide" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog size-guide">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Size Guide</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="size-guide__wrapper">
            <div class="size-guide__image">
              <img loading="lazy" src="{% static 'user/assets/images/size-guide.jpg' %}" alt="">
            </div>
            <div class="size-guide__detail">
              <h5>Tops</h5>
              <table>
                <thead>
                  <tr>
                    <th>SIZE</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>BUST</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                    <td>42</td>
                  </tr>
                  <tr>
                    <td>WAIST</td>
                    <td>26</td>
                    <td>28</td>
                    <td>30</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>HIPS</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                  </tr>
                </tbody>
              </table>
              <h5>Bottoms</h5>
              <table>
                <thead>
                  <tr>
                    <th>SIZE</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>BUST</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                  </tr>
                  <tr>
                    <td>WAIST</td>
                    <td>67</td>
                    <td>67</td>
                    <td>67</td>
                    <td>67</td>
                    <td>67</td>
                    <td>67</td>
                  </tr>
                  <tr>
                    <td>HIPS</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                    <td>87</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-dialog -->
  </div><!-- /.size-guide position-fixed-->

  <!-- Delivery Modal -->
  <div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="deliveryModal" aria-hidden="true">
    <div class="modal-dialog delivery-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delivery</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="delivery-modal__wrapper">
            <div class="d-flex align-items-center justify-content-between">
              <h6>Next day delivery in store</h6>
              <span class="third-color">FREE</span>
            </div>
            <p>Buy before 6pm to receive your order next day.</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6>Next day delivery</h6>
              <span>4 USD</span>
            </div>
            <p>Orders before 6pm from Monday to Saturday (or before 1pm on Sunday) will be delivered Next working day (except Northern Ireland and Highlands).<br>Orders placed after 6pm (after 1pm on Sunday) or for Northern Ireland and Highlands will be delivered in 2 working days.</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6>Drop Point</h6>
              <span>8 USD</span>
            </div>
            <p>In 2-3 working days. Pick up your parcel in one of the many different collection points available and during a wide range of hours.</p>
            <div class="d-flex align-items-center justify-content-between">
              <h6>Same day delivery in London:</h6>
              <span>9 USD</span>
            </div>
            <p>Place your order before 13:00 to get it today!.<br>If you order later on, you’ll receive it the next day and if you order on Sunday, you’ll receive it the next working day.</p>
          </div>
        </div>
      </div>
    </div><!-- /.modal-dialog -->
  </div><!-- /.delivery-modal position-fixed-->

{% endblock %}

{% block script %}
<!-- External JavaScripts -->
<script src="{% static 'user/assets/js/plugins/jquery.min.js' %}"></script>
<script src="{% static 'user/assets/js/plugins/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user/assets/js/plugins/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'user/assets/js/plugins/swiper.min.js' %}"></script>
<script src="{% static 'user/assets/js/plugins/countdown.js' %}"></script>
<script src="{% static 'user/assets/js/plugins/jquery.fancybox.js' %}"></script>

<!-- Footer Scripts -->
<script src="{% static 'user/assets/js/theme.js' %}"></script>

<script>
$(document).ready(function() {
    // Initialize tooltips
    $('[data-bs-toggle="tooltip"]').tooltip();
    
    // Auto-select the first available size on page load
    function autoSelectFirstSize() {
        // Wait a bit to ensure all elements are rendered
        setTimeout(function() {
            const firstAvailableSize = $('.js-swatch:not(.disabled)').first();
            console.log('Found available sizes:', $('.js-swatch:not(.disabled)').length);
            console.log('First available size:', firstAvailableSize);
            
            if (firstAvailableSize.length > 0) {
                // Remove active class from all swatches first
                $('.js-swatch').removeClass('active');
                
                // Add active class to first available swatch
                firstAvailableSize.addClass('active');
                
                // Trigger the selection logic
                const variantId = firstAvailableSize.data('variant-id');
                const price = firstAvailableSize.data('price');
                const sku = firstAvailableSize.data('sku');
                const stock = firstAvailableSize.data('stock');
                
                // Update hidden input with selected variant
                $('#selected-variant').val(variantId);
                
                // Update price display
                $('.product-single__price .current-price').text('₹' + price);
                
                // Update SKU display
                $('.sku-display').text(sku);
                
                // Enable/disable add to cart button based on stock
                const addToCartBtn = $('.btn-addtocart');
                if (stock > 0) {
                    addToCartBtn.prop('disabled', false).text('Add to Cart');
                } else {
                    addToCartBtn.prop('disabled', true).text('Out of Stock');
                }
                
                console.log('Auto-selected size:', firstAvailableSize.text().trim(), 'with variant ID:', variantId);
            } else {
                console.log('No available sizes found');
                // If no sizes available, disable the add to cart button
                $('.btn-addtocart').prop('disabled', true).text('Out of Stock');
            }
        }, 100);
    }
    
    // Call the function to auto-select first size
    autoSelectFirstSize();
    
    // Size selection functionality
    $('.js-swatch').on('click', function(e) {
        e.preventDefault();
        
        // Skip if disabled (out of stock)
        if ($(this).hasClass('disabled')) {
            return;
        }
        
        // Remove active class from all swatches
        $('.js-swatch').removeClass('active');
        
        // Add active class to clicked swatch
        $(this).addClass('active');
        
        // Get variant data
        const variantId = $(this).data('variant-id');
        const price = $(this).data('price');
        const sku = $(this).data('sku');
        const stock = $(this).data('stock');
        
        // Update hidden input with selected variant
        $('#selected-variant').val(variantId);
        
        // Update price display
        $('.product-single__price .current-price').text('₹' + price);
        
        // Update SKU display
        $('.sku-display').text(sku);
        
        // Reset quantity to 1 when changing size
        $('input[name="quantity"]').val(1);
        
        // Enable/disable add to cart button based on stock
        const addToCartBtn = $('.btn-addtocart');
        if (stock > 0) {
            addToCartBtn.prop('disabled', false).text('Add to Cart');
        } else {
            addToCartBtn.prop('disabled', true).text('Out of Stock');
        }
    });
    
    // Add to cart form submission
    $('#add-to-cart-form').on('submit', function(e) {
        e.preventDefault();
        
        // Check if a size is selected
        if (!$('#selected-variant').val()) {
            alert('Please select a size');
            return false;
        }
        
        // Validate quantity
        const quantity = parseInt($('input[name="quantity"]').val());
        if (isNaN(quantity) || quantity < 1) {
            alert('Please enter a valid quantity');
            return false;
        }
        
        // Validate quantity against stock
        const selectedVariant = $('.js-swatch.active');
        const maxStock = selectedVariant.data('stock');
        
        if (quantity > maxStock) {
            alert('Cannot add more than available stock (' + maxStock + ' items available)');
            return false;
        }
        
        // Submit the form via standard POST (no AJAX as requested)
        this.submit();
    });
    
    // Wishlist functionality
    $('.add-to-wishlist').on('click', function(e) {
        e.preventDefault();
        
        // Redirect to the wishlist URL (standard form submission)
        window.location.href = $(this).attr('href');
    });
    
    // Check if we need to open the cart drawer after page load
    // This handles the case where we're redirected back after adding to cart
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('show_cart') === '1') {
        // Open the cart drawer
        $('.js-open-aside[data-aside="cartDrawer"]').trigger('click');
        
        // Clean up the URL
        const cleanUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
        window.history.replaceState({}, document.title, cleanUrl);
    }
});
</script>
{% endblock %}