{% load static %}
<link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

<!-- leftbar-tab-menu -->
<div class="startbar d-print-none">
  <!-- start brand -->
  <div class="brand">
    <a href="index.html" class="logo">
      <span><img src="{% static 'admin/assets/images/rbg2.png' %}" alt="logo-large" class="logo-sm" width="150px" /></span>
      <span class=""><img src="{% static 'admin/assets/images/VibeDrobe_light.png' %}" alt="logo-large" class="logo-lg logo-light" /></span>
    </a>
  </div>
  <!-- end brand -->
  <!-- start startbar-menu -->
  <div class="startbar-menu">
    <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
      <div class="d-flex align-items-start flex-column w-100">
        <!-- Navigation -->
        <ul class="navbar-nav mb-auto w-100">
          <li class="menu-label pt-0 mt-0">
            <!--         <small class="label-border">
                              <div class="border_left hidden-xs"></div>
                              <div class="border_right"></div>
                          </small>         -->
            <span>Main Menu</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
              <i class="fas fa-home menu-icon"></i>
              <span>Dashboards</span>
            </a>
          </li>
          <!-- end nav-item -->

          <li class="menu-label mt-2">
            <small class="label-border">
              <div class="border_left hidden-xs"></div>
              <div class="border_right"></div>
            </small>
            <span>Components</span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'display_admin' %}">
              <i class="fas fa-universal-access menu-icon"></i>
              <span>View Admins</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sidebarForms" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarForms">
              <i class="fas fa-tshirt menu-icon"></i>
              <span>Products</span>
            </a>
            <div class="collapse" id="sidebarForms">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_product' %}">Add Products</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_product' %}">View Products</a>
                </li>
                <!-- end nav-item -->
                
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarForms -->
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sidebarBrand" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBrand">
              {% comment %} <i class="iconoir-view-grid menu-icon"></i> {% endcomment %}
              <i class="icofont-brand-puma menu-icon"></i>
              <span>Brands</span>
            </a>
            <div class="collapse" id="sidebarBrand">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_brand' %}">Add Brand</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_brand' %}">View Brands</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarForms -->
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sidebarCategory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCategory">
              <i class="icofont-bow menu-icon"></i>
              <span>Categories</span>
            </a>
            <div class="collapse" id="sidebarCategory">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_category' %}">View Categories</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarForms -->
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sidebarSize" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSize">
              <i class="fas fa-ruler-combined menu-icon"></i>
              <span>Size</span>
            </a>
            <div class="collapse" id="sidebarSize">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_size' %}">Add Size</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_size' %}">View Sizes</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarForms -->
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sidebarMaterial" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMaterial">
              <i class="iconoir-flower menu-icon"></i>
              <span>Materials</span>
            </a>
            <div class="collapse" id="sidebarMaterial">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_material' %}">Add Material</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_material' %}">View Materials</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarForms -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarsubcategory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarsubcategory">
              <i class="fas fa-project-diagram menu-icon"></i>
              <span>Sub Categories</span>
            </a>
            <div class="collapse" id="sidebarsubcategory">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_subcategory' %}">Add Sub Category</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_subcategory' %}">View Sub Categories</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarForms -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="display_user">
              <i class="fas fa-user-friends menu-icon"></i>
              <span>View Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarTables" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTables">
              <i class="iconoir-table-rows menu-icon"></i>
              <span>Orders</span>
            </a>
            <div class="collapse" id="sidebarTables">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_orders' %}">View Orders</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'display_orderdetails' %}">Order Details</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarTables -->
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'display_cart' %}">
              <i class="fas fa-shipping-fast menu-icon"></i>
              <span>Shipping</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'display_cart' %}">
              <i class="fas fa-cart-arrow-down menu-icon"></i>
              <span>Cart</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'display_wishlist' %}">
              <i class="fab fa-gratipay menu-icon"></i>
              <span>Wishlist</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'display_payment' %}">
              <i class="iconoir-dollar-circle menu-icon"></i>
              <span>View Payment List</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#sidebarReports" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarReports">
              <i class="iconoir-reports-solid menu-icon"></i>
              <span>Reports</span>
            </a>
            <div class="collapse" id="sidebarReports">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'report_FBT' %}">FBT Report</a>
                </li>
                <!-- end nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'report_customer' %}">Customer Report</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="repor{% url 'report_sales' %}t_sales">Sales Report</a>
                </li>
                <!-- end nav-item -->
              </ul>
              <!-- end nav -->
            </div>
            <!-- end startbarTables -->
          </li>

          <!-- end nav-item -->
        </ul>
        <!-- end navbar-nav -->
      </div>
    </div>
    <!-- end startbar-collapse -->
  </div>
  <!-- end startbar-menu -->
</div>
<!-- end startbar -->

<div class="startbar-overlay d-print-none"></div>
<!-- end leftbar-tab-menu -->
